
html {
	font-family: system-ui, 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 13px;
}

@font-face {
	font-family: 'Bowtie';
	src: url('fonts/bowtie.eot');
	src: url('fonts/bowtie.eot?#iefix') format('eot'), url('fonts/bowtie.woff') format('woff'), url('fonts/bowtie.ttf') format('truetype'), url('fonts/bowtie.svg#bowtie') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.main {
	display:grid;
	grid-template-columns:18rem 1fr;
	grid-template-rows:2.5rem 2.5rem 1fr 1.7rem;
	width:100vw;
	height:100vh;
}

.header {
	grid-column: 1 / span 2;
	background-color: #4d6082;
	color:white;
	display:flex;
	align-items:baseline;
}

.header .title {
	display:block;
	font-size:1.5rem;
	line-height:1.6;
	margin:0 .6rem;
}

.header .subtitle {
	display:block;
}

.header .user-button {
	border:none;
	background-color:transparent;
	align-self:stretch;
	margin:4px;
	color:white;
	cursor:pointer;
}

.header .user-button:hover {
	background-color: #7186ab;
}


.header .user-button:active {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
	outline-style: none;
}

.header .user-button:focus {
	outline: 1px dotted white;
}

.gap {
	flex-grow: 1;
}

.navbar {
	grid-column: 1 / span 2;
	grid-row: 2;
	background-color: #f2f3f9;
}

a {
	color: #57a8fa;
	cursor:pointer;
}

button:focus, button:active {
	outline:none;
}

button:disabled {
	opacity: 0.65;
	cursor: not-allowed;
}

a:hover {
	color: #0d82f8;
	text-decoration: none;
}


.navlist {
	display:flex;
	margin:0;
	padding:0;
	font-size:1.2rem;
}

	.navlist li {
		display: block;
		margin:0;
		padding: 0 .4rem;
		text-transform: uppercase;
		cursor: pointer;
		line-height: 2.25rem;
	}

	.navlist li a {
		display:block;
	}

.navlist li:hover {
	background-color: #e8e9f4;
}

.navlist li.active a {
	color:#0d82f8;
	border-bottom:3px solid #0d82f8;
}

.sidebar {
	grid-column: 1;
	grid-row: 3;
	border-right: 1px solid #cfd6e5;
	padding:6px 0 0 6px;
}

ul.menu {
	padding: 0;
	margin:0;
}

ul.menu li {
	list-style-type:none;
}

	ul.menu li > a {
		display:block;
		padding:4px 0 6px 16px;
	}

ul.menu li a:hover {
	background-color:#fdf4bf;
}

ul.menu li > ul {
	padding-left: 1rem;
}

	ul.menu li .folder {
		display:inline-block;
		font-weight: bold;
		color: #8591a2;
		padding: 4px 0 6px 0;
	}

	ul.menu .ico {
		color: #8591a2;
	}

	ul.menu li.active {
		background-color:#cde6f7;
	}

.view {
	grid-column:2;
	grid-row:3;
	padding:6px;
}

.footer {
	grid-row: 4;
	grid-column: 1/ span 2;
	background-color: #f2f3f9;
	border-top: 1px solid #bdc5d8;
	display:flex;
	align-items:center;
	justify-content:center;
}

	.footer a {
		font-size: .86rem;
		cursor:pointer;
	}


table.data-grid {
	border-collapse: collapse;
	width: 100%;
	border-bottom: 1px solid #e5e8eb;
	cursor:pointer;
}

th {
	text-align: left;
	background-color: #f5f5f5;
	border-bottom: 1px solid #cbcdda;
	border-right: 1px solid #cbcdda;
	font-weight: normal;
	padding: 4px 6px;
}

th:last-child {
	border-right-style:none;
}

th:hover {
	background-color: #dcdcdc;
}

tr:hover {
	background-color: #fdf4bf !important;
}

.data-grid td {
	font-weight: normal;
	padding: 4px 6px;
	border-right: 1px solid #e5e8eb;
}

.data-grid td:last-child {
	border-right-style:none;
}

.data-grid tr:nth-of-type(even) {
	background-color: rgba(208, 208, 208, 0.15);
}

.data-grid tr.active {
	background-color: #cde6f7;
}

.toolbar {
	background-color: #cfd6e5;
	height:2.1rem;
	display:flex;
	padding:2px;
}

	.toolbar .divider {
		display: block;
		background-color: #9dacca;
		width:1px;
		border-right: 1px solid #e0e4ee;
		margin: 2px 4px;
	}

	.toolbar button {
		border:1px solid transparent;
		background-color:transparent;
		text-transform:lowercase;
		color:#555;
	}

	.toolbar button .ico {
		margin-right:2px;
	}

	.toolbar button:hover {
		background-color: #fdf4bf;
		border-color: #e5c365;
		outline:none;
	}

	.toolbar button:active {
		background-color: #fff29d;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
		border-color: #e5c365;
		outline: none;
	}

	.toolbar button:focus {
		outline: 1px dotted #9dacca;
		outline-offset: -2px;
	}

.text-right {
	text-align:right;
}

.text-center {
	text-align: center;
}

.tag-label {
	background-color: #999;
	color: white;
	font-size: 0.8rem;
	padding: 0 .25rem .1rem .25rem;
	border-radius: .2rem;
	display: inline-block;
}

.tag-label.success {
	background-color: #5db750;
}

.tag-label.warning {
	background-color: #f0ad4e;
}

.caret {
	display: inline-block;
	margin-left: 4px;
	border: 4px solid transparent;
	vertical-align: middle;
	border-top-color: currentColor;
}

i, .ico {
	font-family: 'Bowtie';
	speak: none;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-refresh:before {
	content: "\ea00";
	color: #034989;
}

.ico-arrow-open:before {
	content: "\e909";
}

.ico-delete:before {
	content: "\e94f";
	color: #a94442;
}

.ico-add:before {
	content: "\e970";
	color: #3a8b37;
}

.ico-file:before {
	content: "\e9dd";
}

.ico-dashboard:before {
	content: "\e943";
}

.ico-expand:before {
	content: "\e9cb";
}

.ico-user:before {
	content: "\e998";
}
